<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>nexus-releases</id>
      <username>maoyingli</username>
      <password>123456</password>
    </server>

    <server>
      <id>nexus-snapshots</id>
      <username>maoyingli</username>
      <password>123456</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>alimaven</id>
      <name>aliyun maven</name>
      <url>https://maven.aliyun.com/repository/public</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
    <mirror>
      <id>nexus-snapshots</id>
      <url>http://svn.k.sohu.com/nexus/content/groups/snapshot</url>
      <mirrorOf>dp-nexus-snapshots</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>dp-nexus-snapshots</id>
          <name>dp-nexus-snapshots</name>
          <url>http://svn.k.sohu.com/nexus/content/repositories/snapshots</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>dp-nexus-releases</id>
          <name>dp-nexus-releases</name>
          <url>http://svn.k.sohu.com/nexus/content/repositories/releases</url>
        </repository>
    </repositories>
    </profile>
  </profiles>

</settings>
